<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<!--Dynamic Plugin Builder And Nature-->
	<extension
         id="dynamicPluginBuilder"
         name="Dynamic Plugin Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dynamic.model.project.builder.DynamicPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="dynamicPluginNature"
         name="Dynamic Plugin Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dynamic.model.project.builder.DynamicPluginNature">
         </run>
      </runtime>
      <builder
            id="com.dynamic.model.project.dynamicPluginBuilder">
      </builder>
   </extension>
   <!--Dynamic Web Builder And Nature-->
   <extension
         id="dynamicWebBuilder"
         name="Dynamic Web Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dynamic.model.project.builder.DynamicWebBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="dynamicWebNature"
         name="Dynamic Web Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dynamic.model.project.builder.DynamicWebNature">
         </run>
      </runtime>
      <builder
            id="com.dynamic.model.project.dynamicWebBuilder">
      </builder>
   </extension>
   <!--popupMenus add Nature-->
   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
			adaptable="true"
			nameFilter="*"
			id="dynamic.model.builder.contribution"
	 		objectClass="org.eclipse.core.resources.IProject">
         	<menu 
                 label="Dynamic Project Engineering"
                 icon="icons/entity.gif"
                 path="additions"
                 id="dynamic.model.engineering"> 
            <separator name="groupEngineering"></separator> 
            </menu> 
            <action 
             	enablesFor="1"
                label="Add Dynamic Module Nature"
                class="com.dynamic.model.project.builder.ToggleDynamicNatureAction"
                menubarPath="dynamic.model.engineering/groupEngineering"
                icon="icons/module.png"
                id="com.dynamic.model.project.builder.ToggleDynamicNatureAction"> 
            </action>
             <action 
             	enablesFor="1"
                label="Add Dynamic Web Nature"
                icon="icons/application.png"
                class="com.dynamic.model.project.builder.ToggleDynamicWevNatureAction"
                menubarPath="dynamic.model.engineering/groupEngineering"
                id="com.dynamic.model.project.builder.ToggleDynamicWevNatureAction"> 
            </action>
            <action 
             	enablesFor="1"
                label="Publish Module Project"
                class="com.dynamic.model.project.deploy.PluginProjectDeployAction"
                menubarPath="dynamic.model.engineering/groupEngineering"
                icon="icons/publish.gif"
                id="com.dynamic.model.project.deploy.PluginProjectDeployAction"> 
            </action>
		</objectContribution>
	</extension>
	<!--startup SyncStartup-->
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.dynamic.model.project.SyncStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.dynamic.model.project.actionSet"
            label="Model Project"
            visible="true">
         <menu
               label="Model Project"
               id="modelMenu">
            <separator
                  name="modelGroup">
            </separator>
         </menu>
         <action
               label="Publish Model"
               icon="icons/module_categroy.png"
               class="com.dynamic.model.project.actions.ModelPublishAction"
               tooltip="Publish Model To Web Project"
               menubarPath="modelMenu/modelGroup"
               toolbarPath="modelGroup"
               id="com.dynamic.model.project.actions.publishAction">
         </action>
         <action
               label="Clean Model"
                icon="icons/whatsnew.png"
               class="com.dynamic.model.project.actions.ModelCleanAction"
               tooltip="Clean Model Cache Data"
               menubarPath="modelMenu/modelGroup"
               id="com.dynamic.model.project.actions.cleanAction">
         </action>
         <action
               label="Open Model"
                icon="icons/publish.gif"
               class="com.dynamic.model.project.actions.ModelOpenAction"
               tooltip="Open Model Directory"
               menubarPath="modelMenu/modelGroup"
               id="com.dynamic.model.project.actions.modelOpenAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="com.dynamic.model.project.explore.contribution1">
         <action
               class="com.dynamic.model.project.explore.EasyLookAction"
               enablesFor="1"
               icon="icons/open.png"
               id="com.dynamic.model.project.explore.EasyLookAction"
               label="Open Folder">
         </action>
      </objectContribution>
   </extension>
</plugin>
