<html>
<head>
<title>qwf.test.core index</title>
</head>
<body>
	<#include "qwf.test.calculator:test">
	<p>Hello,this is a test bundle for QuickWebFramework!</p>
	<#list bundleNameHttpMethodInfoListMap?keys as bundleName>
	<div>
		<h1>${bundleName}</h1>
		<#list bundleNameHttpMethodInfoListMap[bundleName] as httpMethodInfo>
		<p>
			&nbsp;&nbsp;<a href="${httpMethodInfo.mappingUrl}">${httpMethodInfo.mappingUrl}</a>
			(${httpMethodInfo.httpMethod})
		</p>
		</#list>
	</div>
	</#list>
	<form method="post">
		<input type="submit" value="提交">
	</form>
</body>
</html>